# temp
ess-config-solrcloud
ess-config.zip


# Emacs editor
*.*~
\#*.*#
\.#*
\#*#

# Mac Finder
.DS_Store
.Thumbs_DB

# Java build
target
/test-output

# gradle
build
.gradle

#random stuff
hacks
*staples*.*


#serverlogs
log

# IntelliJ
.idea
ess-service.iml

#UI

/.tmp
/.sass-cache
/bower_components
**/config.codekit
src/main/resources/root/config.codekit

# big data
demoassets
src/main/resources/root/admin/data
/bin/
ess-pk.yaml
selfsigned.crt
**/min/*-min.js